---
import Base from '../layouts/Base.astro';
---
<Base title="Yuwen Zhang">
  <div class="about">
    <div class="about-text">
      <h1>About</h1>
      <p>
        I was most recently a research engineer at <a href="https://succinct.xyz">Succinct Labs</a>, working on generating (zk)SNARKs on big clusters with low latency. Before that, I completed my Master's at UC Berkeley advised by Professor <a href="https://people.eecs.berkeley.edu/~raluca/">Raluca Ada Popa</a>,
        studying cryptography and systems security. I also did my undergrad at Berkeley, earning a B.A. in Computer Science and a minor in Mathematics.
      </p>
      <p style="margin-top:0.75rem;">Outside of work, I enjoy running and baking for my friends.</p>
    </div>
    <div class="about-photo">
      <img src="/assets/prof_pic.jpg" alt="Yuwen Zhang" />
    </div>
  </div>
</Base>
